<nav class="navbar navbar-dark bg-inverse">
    <ul class="nav navbar-nav" routerLinkActive="active">
        <li class="nav-item" *ngFor="let item of menuItems">
        	<a class="nav-link" [title]="item.description" href="#"
        		(click)="menuItemSelect(item.id, item.type, item.child)"
        		[ngClass]="{'dropdown-toggle': item.child != ''}"
        		[attr.data-toggle]="item.child != '' ? 'dropdown' : null" 
        		[attr.aria-haspopup]="item.child != '' ? 'true' : null" 
        		aria-expanded="false" [id]="'menu'+item.id">
        		{{item.name}}
        	</a>
        	<div *ngIf="item.child" class="dropdown-menu" #dropRef{{item.name}}>
        	  <!-- TODO: Pass the child ids into sub menu component -->
        	  <app-sub-menu [itemId]="sid" *ngFor="let sid of item.child"></app-sub-menu>
	        </div>
        </li>
    </ul>
</nav>
